#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

#nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #033599;
    color: white;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #808080; /* grey */
    color: white;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #033599;
    color: white;
}

